[Unit]
Description=SSL tunnel for network daemons
After=syslog.target

[Service]
PIDFile=/var/run/stunnel/stunnel.pid
StandardError=syslog
EnvironmentFile=/etc/stunnel/stunnel.conf
ExecStart=/usr/bin/stunnel /etc/stunnel/stunnel.conf
Type=forking

[Install]
WantedBy=multi-user.target
